/*
 *********** TYPOGRAPHY **********/
 */
 .navigation li a {
  font-weight: 500;
}
.postcard-container p.figcaption {
  font: 11px/1.4 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/********** LAYOUT **********/
@media screen {
  .ah-introduction {
    background-color: #fff;
    border: solid 2px #fbeff0;
    box-shadow: 0 0 0.35em 0.1em rgba(200, 200, 200, 0.75);
    color: #7f3051;
    font: 100 1.05em/1.4 museo-slab, serif;
    padding: 3%;
    overflow: hidden;
    position: relative;
  }
  .ah-introduction > p {
    font-size: .9em;
    line-height: 1.5em;
    padding: 1%;
    text-indent: 1em;
  }
  .content-body {
    width: 100%;
    position: relative;
    padding-top: .5em;
    margin: 0;
    padding: 0;
  }
  .content-body img {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: none;
    margin: 0;
  }  
  .content-container {
    padding-top: 0;
  }
  .figcaption {
    margin: 0;
  }
  .galleria {
    height: 30em;
    width: 100%;
    min-width: 320px;
  }
  .main-content {
    padding-top: 0;
  }
  .content-container {
    border: 0;
  }
  .main-content .features-2 {
    padding: 0;
    margin-top: 1.5em;
    width: 100%;
  }
  .navigation li:first-child {
    display: none;
    /* NEED TO GET THIS OUT OF THE CMS */  
  }
  .navigation-media {
    width: 100%;
    margin: 1% 0 0 0;
    padding: 0;
  }
  .navigation-media img {
    background: #feffff;
    padding: 5%;
    width: 100%;
  }
  .navigation-media li {
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    display: inline;
    float: left;
    margin: 0 2% 0 0;
    width: 15%;
  }
  .navigation-media li:last-child {
    margin-right: 0;
  }
  .postcard-container .postcard-frame {
      padding:0;
  }
  .postcard-container .postcard {
    position: relative;
  }
  .postcard-frame {
    position: absolute;
    right: 0;
     top:auto;
     width:100%;
    z-index: 1;
    }
    .postcard-frame-container {
        margin:0;
        width:100%;
        padding-top:3%;
    }
  .postcard-frame-container img {
      padding:0;
    width: 100%;     
  }
  .postcard-frame-container p {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 450px) {
  .navigation ul {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 520px) {
  .content-container {
    float: none;
    margin: 5em auto 0 auto;
  }
  .content-container:after {
    border-right: 0;
  }
  .header {
    padding-top: 5em;
    /**** ADDED ****/
  
    padding-bottom: 0;
    /**** ADDED ****/
  
    border-bottom: 0;
  }
  .navigation {
    border-top: 1px dashed #cdb8a9;
    border-bottom: 1px dashed #cdb8a9;
    margin-left: 0;
    padding-top: .2em;
    /**** ADDED ****/
  
    padding-bottom: .2em;
    /**** ADDED ****/
  
    position: absolute;
    width: 100%;
  }
  .navigation li {
    float: left;
    display: inline;
  }
  .navigation ul a {
    padding: .4em .5em .25em;
  }
}
@media only screen and (min-width: 600px) {
  .content-container {
    background: none;
  }
}
@media only screen and (min-width: 700px) {
  .ah-introduction > p {
    float: left;
    width: 50%;
    padding: 0;
  }
  .postcard-container {
    width: 47%;
    float: right;
  }
  .postcard-container .postcard {
    top: -3%;
    left: 1.75%;
     float:none;
  }
  .postcard-frame {
    width: 47%;
    top: 0;
  }
  .postcard-frame-container {
    margin: -2.75% 0 0 2%;
    width: 100%;
     padding-top:0%;
  }
  .postcard-frame-container p {
    padding: 6% 2% 0 0;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .ah-introduction > p {
    font-size: 1em;
  }
  .navigation a {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 880px) {
  .navigation-media {
    float: right;
    position: absolute;
    bottom: 1%;
    right: 0;
    width: 28.25%;
    margin: 0;
  }
  .navigation-media img {
    display: inline;
    margin: 0;
  }
  .navigation-media li {
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    display: inline;
    float: left;
    margin: 0 3.25% .5% 0;
    line-height: 0;
    width: 30%;
  }
}
@media only screen and (min-width: 900px) {
  .ah-introduction > p {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .content-container {
    margin-top: 4em;
  }
 }
@media only screen and (min-width: 1000px) {
  .navigation a {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1100px) {
  .ah-introduction > p {
    font-size: 1.2em;
    line-height: 1.7em;
  }
}
/************* COLOR ******************/
.content-container {
  border-top: none;
}
.navigation a {
  color: #6c1500;
}
.postcard-container p.figcaption {
  color: #8f877a;
}


