page-profile .profile-portrait /*BEGIN PROFILE NAV */
.content-body input[type="submit"] {
  float: none;
/*  background-image: url(../images/css/icon-search.png); */
  background-position: 6px 50%;
  background-repeat: no-repeat;
}
input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    margin-right: 4px;
    float:left;
}
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}
input[type="reset"] {
    display:none; 
}
input.button-view-notes {
/*  position:absolute;
    top:-2em;
    right:0;
    */
}
.profile-note {
    color:#888;
    font-size:.8em;
}
.page-profile a.button-cancel {
  /*
  position: absolute;
  right: .5em;
  top: .5em;
  */
  margin:0;
}
.button-save {
  border-radius: .5em;
  padding: .75em 1em;
}
.button-edit,
.button-profile-edit {
  background-image: url(../images/css/connect/profile-icon-edit.png);
  padding-left:30px !important;
}
.button-add-to-contacts {
  background-image: url(../images/css/connect/icon-add-contact.png);
}
.button-email {
  background-image: url(../images/css/connect/icon-email.png);
}
.button-enote { 
    background-image: url(../images/css/connect/icon-write-enote.png);
    margin-top: -56px;
    padding-left: 23px;
    border-left: 4px solid #2587D4;
}
.button-enote:hover { border-left: 4px solid #000 }
.button-add-comment {
  background-image: url(../images/css/connect/icon-add-comment.png);
}
.button-add-comment {
    display: none;
}
.commentstext {
    font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-top: -20px;
}
.datetext i, p font i {
/*  border-bottom: 1px dashed #ccc; */
    color: #888;
    display: block;
    font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px; /* the fact that this style applies to multiple elements means that each has its own interpretation of what an em is. */
    font-style: normal;
    margin-top: 10px;
    width: 100%;
}
font[color="#FFFFFF"] { color: #000 !important }
.finished p{
    margin-top:2em;
}
input { font-family: proxima-nova }
.login-form-note {
    color:#888;
    font-size:.75em;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-top:3em;
    padding:0 10%;
}
.olc .content-body a { color: #2587D4 }
.olc .content-body a:hover { color: #000 }
.olc-sectionHeader { 
    padding: 20px 0 0 0;
}
    .olc-sectionHeader b {
        font-size: 1em;
    }
.page-my-contacts .content-body table {
    width:100%;
}
.page-my-contacts td[colspan="4"] {
    display:none;
}
.page-edit-address table {
    width:auto;
}

.page-search input[type="submit"] {
    position:relative;
    z-index:1;
}

.page-search input[name="searchBtn"] {
    float:right;
/*
    position:absolute;
    right:0;
    top:auto;
    */
}
.page-search .dir-personal {
    margin-top:-1.5em;
}
.page-search input[name="searchBtn"]:hover {
    background:#000;
}
.page-my-contacts td:first-child b {
    display:inline;
}
textarea {
    width:98%;
}
.page-search-results form td:first-child {
    text-align:left;
    white-space:normal;
}
.submit-note .content-body>p:first-child {
    display:none;
}
.submit-note h2 {
    margin-top:1em;
}
.connect-activity-rss {
    width:100%;
    text-align:right;
}
/*
.connect-activity-rss {
    position:absolute;
    top:1em;
    right:1em;
}
*/
.connect-activity-rss img {
    float:left;
    margin-right:.5em;
    display: none;
}
.connect-activity-rss span a {
    background: url(../images/css/alums/icon-rss.gif) no-repeat top left;
    font-size: 12px !important;
    white-space:nowrap;
    padding: 4px 4px 4px 20px;
}
.content-body .submit-enote-classified {
    margin:0;
    overflow:hidden;
    padding:0;
}
.submit-enote-classified li {
    display:inline;
    float:left;
    list-style-image:none;
    list-style-type:none;
}
.submit-enote-classified .button {
    font-size:1em;
    margin-bottom:.75em;
    padding:4% 4%;
    text-align:center;
    width:90%;  
}
.submit-public-note {
    padding:0 2% 0 0;
    width:31%;
}
.submit-personal-note {
    padding:0 1% 0 1%;
    width:31%;
}
.submit-classified {
    padding:0 0 0 2%;
    width:31%;
}
.notetext {
    color:#333;
    display:block;
    font-size:.75em;
    padding:0 5%;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.connect-contact-us {
    font-size:.8em;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#666;
}
/***********************/
.personal-annos input[value="Delete"] {
    margin-right:.75em;
    margin-top:2em;
}
.personal-annos input[value="Update"] {
}
.submit-note .olc-formTable tr:nth-child(2n+1) {
    background: #edf6f8;
}
.submit-note .main-content form, .personal-annos form {
background:transparent !important;
box-shadow:none !important;
padding-top:0 !important;
}
.page-community-activity .content-body #olc-Content {
    margin-top:0 !important;
}

/*RMS*/
.main-content {
    margin-left:0;
	margin-right:0;
	width:100%;
}

.button-file-upload {
    padding:0 !important;
    margin-left:0 !important;
    color:#000 !important;
    border-radius:0 !important;
    background-color:transparent !important;
    float:none !important;
}
.photo-file-formats, .note-input {
    font-size:.7em;
    color:#666;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.content-body .photo-file-formats {
    display:block;
}
.content-body label{
/*    display:block; */
/*  margin-top:.5em; */
    font-size:.9em;
    font-weight:bold;
}
.page-calendar-view-list label {
    float:left;
}
.enote-consent {
    font-size:.85em;
    color:#777;
    display:block;
    width:80%;
    overflow:hidden;
    margin-top:.5em;
}
.connect-contact-us {
    font-size:.8em;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#777;
}
.checkbox-consent {
    float:left;
    margin-right:.5em;
    margin-top:.3em;
}
.upload-photo {
    float:left;
    margin-top:0;
    margin-right:1em;
    font-weight:normal;
}
.button-enote-preview {
    float:none !important;
    margin:.5em 0 .25em 0;
}
/***********************/
.submit-note .content-body .olc-formTable td {
    display:table-cell;
}
.page-community-activity .olc-formTable td {
    display:block;
}
.page-community-activity .olc-formTable {
    position:relative;
}
.page-community-activity .olc-sectionHeader {
    font-size: 1.2em;
    margin-top:1em;
    display:block;
}
.page-community-activity .olc-sectionHeader b {
    font-weight:bold;
}
.connect-enotes-more {
    display:block;
    margin-top:1em;
}
.page-community-activity .note-order-by {
}

.note-order-by input {
    float:left;
}
.note-order-by h3 {
    margin:.5em 2% 0 0;
    float:none;
    font-size:1em;
    font-weight:normal;
}
.note-order-by li {
    list-style-image:none;
    list-style-type:none;
    margin-right:4%;
    white-space:nowrap;
    /*RMS
	float:left;
	display:inline;
    */
    margin-right:2.5em;
}
.note-order-by ul {
    margin:0 1% 0 0;
    padding:0 0 0 1%;
}
.submit-note .upload-guidelines {
    font-size:.9em;
    display:block;
    margin-top:-.75em;
    margin-bottom:1em;
    float:right;
}

.page-community-activity .main-content form {
	padding-bottom:3em !important;
}

.page-community-activity .olc-formTable td[align="center"] {
  	position:absolute;
	bottom:0;
}

.page-community-activity input.button-view-notes {
    /*RMS*/
	position:absolute; 
    bottom:-3em;
    left:0;
}
.page-profile.page-community-activity .profile-menu,
.page-profile.page-my-contacts .profile-menu {
    height: 10px;
	
	/*RMS*/
	height:30px;
}
.page-my-contacts tr[bgcolor="#FFFFFF"] {
    background: #f4f8fd;
}
.page-my-contacts .main-content .content-body {
    padding-top:3em;
}
.page-my-contacts .content-body h2 {
    display:none;
}
/*.page-community-activity .connect-activity-rss {
    width:10%;
    margin-left:90%;
    overflow:hidden;
    margin:.25em 0;
}
.page-community-activity .connect-activity-rss {
    /*text-align:right;
}*/
.page-community-activity .connect-activity-rss img {
    float:left;
}
/*.connect-activity-rss span {
    float:right;
}*/
.page-profile .content-body {
  margin: 2em 1% 2em 2%;
  background: #fff;
  border: solid 1px #77B7DD;
  -webkit-box-shadow: 0 0 2px 1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 0 2px 1px rgba(50, 50, 50, 0.25);
  box-shadow: 0 0 2px 1px rgba(50, 50, 50, 0.25);
  margin-bottom: 1em;
  padding: 4em 2% 2em 2%;
  position: relative;
    width: auto;
	
	/*RMS*/
	margin: 2em 0 2em 0;
	  
}
.page-community-activity .content-body { padding: 2em 2% 2em 2% }
.page-profile .content-body:after {
  background: url(../images/css/connect/profile-footer.jpg) center bottom no-repeat;
  content: '';
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  bottom: -8px;
  z-index:-1;
}
.page-profile .content-body:before {
  background: url(../images/css/connect/profile-footer-bg.gif) 0 bottom repeat-x;
  content: '';
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  bottom: -8px;
  z-index:-1;
}
.profile-container b.profile-label { font-weight: bold }
    .profile-container b.profile-label:after { content: ":" }

.content-body a.button,
.content-body a.button:hover { color: #fff }
.content-body .profile-menu a.button,
.link-public-view {
    border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 8px 8px 8px 24px;
}
.content-body .profile-menu a.button { border-left: 4px solid #2587D4 }
.content-body .profile-menu a.button:hover { border-left: 4px solid #000 }
a.link-public-view {
    padding: 10px 8px 6px 8px;
    margin-top: 4px;
}
.page-calendar aside, .page-calendar .content-container:before {
    display:none;
}
.page-calendar .content-body {
    width:93%;
}
.page-profile .content-body a {
    position: relative;
    z-index: 1;
}
/*
a.button-help {
  background: url("../images/css/help-icon.gif") top left no-repeat;
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 12px;
  padding-left: 16px;
  /* PIXELS *

}

*/
.page-profile a.button-help {
 background: transparent url(../images/css/connect/icon-help.gif) 0 1px no-repeat;
 border-bottom: 0;
 color: #8FA1B5;
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
 font-size: 12px;
 padding-left: 16px;
 position: absolute;
height: 16px;
 right: 0;
 top: -5.75em;
}
a.button-help:hover {
 background: transparent url(../images/css/connect/icon-help.gif) 0 -23px no-repeat;
  color: #000;
}
.page-profile.page-community-activity h1 {
    font-family: adelle;
    font-size: 1em;
    font-weight: 700;
}
.page-community-activity .content-body #olc-Content td>div {
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding-top: 20px;
}
.page-profile.page-community-activity table {
    margin: 0;
}
    .page-community-activity .content-body #olc-Content {
        margin-top: 20px;
    }
    .page-community-activity .content-body #olc-Content td {
        padding: 0;
    }
.page-my-profile .content-body {
    padding-top:4em;
}
.page-profile .profile-portrait img {
  border: solid .25em #fff;
  -webkit-box-shadow: 0 1px 2px 1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 1px 2px 1px rgba(50, 50, 50, 0.25);
  box-shadow: 0 1px 2px 1px rgba(50, 50, 50, 0.25);
  /* float: left; */
    width:100%
}

.page-edit-privacy .content-body, .page-edit-personal .content-body, .page-edit-misc .content-body, .page-edit-professional .content-body, .page-edit-academic .content-body, .page-edit-address .content-body {
    padding-top: 6em;
}
.page-profile .figure {
    float:none;
    margin:0;
     width:100%;
/*    overflow:hidden; */    
}
.page-profile .figure img {
    width:75%;
    margin:0 auto;
}

.page-profile .figcaption {
    padding:.5em;
    overflow:hidden;
}
a.nav-public-profile-current { background: #F4F8FD }
.content-body {
  position: relative;
  z-index:1;
/*  width: 100%;*/
}
.profile-nav {
  margin: -4.5em 0 0 0;
  position: absolute;
  top: .25em;
  left: 0;
  padding: 0;
  
  	/*RMS*/
	margin-top:-3.75em;	

}
.profile-nav li {
  list-style-type: none;
  list-style-image:none;
  font-family: adelle, serif;
  font-style: normal;
  float: left;
  margin-right: 4px;
}
.profile-nav a {
  border-bottom: 0;
  font-size: 1.2em;
  line-height: 1;
 padding: .8em .7em 1em .7em;
  /* height: 1em;*/
  display: block;
  color:#2489CF;
  
  	/*RMS*/
	font-size:1.1em;
	padding-bottom: 1.5em;
}
.nav-profile-current {
  background: #f4f9fd;
  border-top: solid 1px #78b5e1;
  border-left: solid 1px #78b5e1;
  border-right: solid 1px #78b5e1;
  -moz-border-radius-topleft: .5em;
  -moz-border-radius-topright: .5em;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius: .5em .5em 0 0;
  border-radius: .5em .5em 0 0;
  -webkit-box-shadow: 0 1px 3px 1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 1px 3px 1px rgba(50, 50, 50, 0.25);
  box-shadow: 0 1px 3px 1px rgba(50, 50, 50, 0.25);
  color: #000;
  position: relative;
}
.nav-public-profile-current {
  background-color: #fff;
}
.link {
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.link-resume {
  background-image: url(../images/css/connect/icon-resume.png);
}
.link-enotes {
  background-image: url(../images/css/connect/icon-enotes.gif);
}
.button-public-view {
  border-bottom: 0;
  display: block;
  float: left;
  padding: .5em .5em .25em .5em;
  border-top: solid 1px transparent;
}
.profile-menu-label {
  float: left;
  padding: .5em .5em .25em .5em;
  color: #929eae;
}
a.profile-menu-current {
  background: #2488d4;
  color: #fefaf9;
  border-top: solid 1px #30ace0;
}
.profile-sub-nav {
  background-image: url(../images/css/winter-topdots.png);
  background-position: 0 bottom;
  background-repeat: repeat-x;
  left: 0;
  padding: .5em 1em 0 1.5em;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-sub-nav a {
  padding: .5em 1em;
  border-color: #c2dae6;
    display:block;
	
	/*RMS*/
	padding: .5em .6em;
}
.profile-sub-nav .nav-profile-current {
  background: #fff;
  border-bottom:solid 1px #78B5E1;
  border-radius:.5em;
}
.profile-sub-nav li {
  float: left;
  padding-bottom: 0;
  list-style-image: none;
}
/*END PROFILE NAV */
/* Added by Chris, 20120222 */
/* profile --------------------------------------------- */
.content-body .profile-nav {
    padding-left:0;
    margin-left:-1px;
}
ul.profile-nav li a:hover {
  background: #e8edf3;
  background: rgba(162, 187, 205, 0.2);
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
    color: #000;
}
ul.profile-nav li a.nav-profile-current {
  text-shadow: none;
}
ul.profile-nav li a.nav-profile-current:hover {
  background: #f4f8fd;
  color: #000;
  cursor: default;
}
ul.profile-menu { margin: 0; }
.profile-menu {
  /* CSS generated courtesy colorzilla.com/gradient-editor/ */

  background: #f4f8fd;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f4f8fd 90%, #e8edf5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f4f8fd), color-stop(100%, #d9e9fc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f4f8fd 90%, #e8edf5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f4f8fd 90%, #e8edf5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f4f8fd 90%, #e8edf5 100%);
  /* IE10+ */

  background: linear-gradient(top, #f4f8fd 90%, #e8edf5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f8fd', endColorstr='#d9e9fc', GradientType=0);
  /* IE6-9 */

}
ul.profile-sub-nav li {
/*  margin-right: 4px;
  /* PIXELS */

}
ul.profile-sub-nav li a:hover {
  background: #e6edf7;
  background: rgba(176, 194, 218, 0.2);
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
ul.profile-sub-nav li a.nav-profile-current {
  border: none;
  -webkit-box-shadow: 0 -1px 3px #bcc8d9;
  -moz-box-shadow: 0 -1px 3px #bcc8d9;
  box-shadow: 0 -1px 3px #bcc8d9;
}
/* form elements */
input[type="text"] {
  background: rgb(250, 253, 255);
  -webkit-box-shadow: inset 0px 1px 4px #788598;
  -moz-box-shadow: inset 0px 1px 4px #788598;
  box-shadow: inset 0px 1px 4px #788598;
  font-family: proxima-nova;
  width:95%;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #f4f8fe;
}
select {
    width:98%;
}

.page-search-results select {
    width:auto;
}

.page-search-results select[name="newpage"],
.page-search-results input[value="Go"],
.page-search-results input[value="Next Page"] {
    float:left;
    margin-right:.75em;
}
.page-search-results input[value="Next Page"] {
    margin-right:2em;   
}
/* form table */
/* NEED TO BE SPECIFIC HERE BECAUSE MANY PAGES ARE LAYED OUT WITH TABLES */
tr:nth-child(2n+1) {
  /*
    background: #e0e6f0;
    background: rgba(216, 226, 238, 0.4);
*/

}
.page-profile form td[nowrap] {
  text-align: right; 
}
.page-profile form td {
     vertical-align:top;
}
.page-edit-personal td:first-child b, .page-edit-address td:first-child b, .page-edit-academic td:first-child b, .page-edit-professional td:first-child b, .page-edit-misc td:first-child b, .page-edit-privacy td:first-child b {
  display:block;
  font-weight: bold;
  text-align:right;
  vertical-align:top;
}
.page-profile font[face="verdana,arial"] {
    text-align:right
}
.page-profile tr[bgcolor="#990033"] b {
    text-align:left;
}
/*
.page-profile table {
    width:auto;
}
*/
.page-edit-address tr[bgcolor="#990033"] b {
    display:none;
}
td, th {
    padding:.25em;
}
.page-edit-privacy form tr[bgcolor="#FFFFFF"] td:first-child {
    width:50%;
}
.page-edit-privacy form td[align="right"] {
    white-space:nowrap;
}
.page-edit-privacy form td[align="right"] font {
    float:right;
}
/*td[colspan] {
  text-align: inherit;
  font-weight: inherit;
}*/
td b {
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
}
font[size="1"] {
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #6d809b;
    display: block;
    line-height: 18px;
}
form[name="updateFwAddr"] font[size="1"] {
    display:inline;
}
/* buttons */
a.button-cancel {
  position: relative;
  padding-left: 22px;
  /* PIXELS */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 5px 0 0;
  /* PIXELS */

}
a.button-cancel::before {
  content: "\00d7";
  font-size: 20px;
  font-weight: bold;
  padding-right: 4px;
  /* PIXELS */

  position: absolute;
  left: 7px;
  top: 3px;
}
a.button-public-view {
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  padding: 6px 8px 6px 8px;
}
a.button-public-view:hover {
  background: #e6edf7;
  background: rgba(176, 194, 218, 0.2);
}
a.button-edit {
  border-left: 4px solid #2587d4;
  font-size: 14px;
  padding-left: 30px;
}
a.button-edit:hover {
  border-color: #004881;
}
a.button-edit:active {
  border-color: #000;
}
a.button-save {
  position: relative;
  padding-left: 28px;
  /* PIXELS */

  margin-right: 1em;
}
a.button-save::before {
  content: "\2714";
  font-size: 16px;
  padding-right: 4px;
  /* PIXELS */

  position: absolute;
  left: 9px;
  top: 9px;
}
/*
a.button:hover {
    color: #fff;
    background-color: #004881;
}
*/



a.button:active {
  color: #fff;
  background-color: #000;
}
.profile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
    overflow: hidden;
}
/* end profile styles */
/* structural styles ---------------------------- 
    The following styles would be site-wide structural changes: nav padding,borders, etc.
*/
ul.navigation li a {
  padding-top: 8px;
  /* PIXELS */

}
ul.navigation li a:hover {
  border-right: 2px solid #f00;
  border-right: 2px solid rgba(255, 0, 0, 0.1);
  margin-right: -2px;
  /* PIXELS */

}
ul.navigation li a.nav-current {
  margin-right: -2px;
  /* PIXELS */

}
.content-body img {
  /* OVERRIDING */

  border: 0;
  margin: 0;
  padding: 0;
  float: none;
}
/* .page-profile h2 { margin-top:1.5em } */
/*
.page-profile .content-body img {
    border: 3px double #eee;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 34px 0 0;
    padding: 10px;
}
*/
p.profile-name b.vassar-name {
  color: #aaa;
  font-size: 14px;
}
body.page-profile .profile-container {
    margin-top:3em;
  padding-left: 6%;
  overflow: hidden;
}
body.page-profile .profile-container h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  background: url(../images/css/winter-topdots.png) repeat-x 0 50%;
  /* this ridiculous parade of text-shadows blocks out the topdots background from appearing between the letters. Normally I'd block it with a span, but I can't edit the markup here. */

  text-shadow: -1px -1px 8px #ffffff, 1px -1px 8px #ffffff, -1px 1px 8px #ffffff, 1px 1px 8px #ffffff, -1px -1px 8px #ffffff, 1px -1px 8px #ffffff, -1px 1px 8px #ffffff, 1px 1px 8px #ffffff;
}
body.page-profile .profile-container h4 {
  color: #888;
  font-size: 14px;
}
p {
  font-size: 16px;
  font-weight: 100;
}
.profile-container p b {
  font-weight: 100;
}
p.profile-name,
p.profile-name b {
  font-size: 22px;
  font-weight: 700;
}
form.search-form input.submit {
  font-size: 11px;
}
form.search-form:hover input.submit,
form.search-form input.submit-focus {
  background: #f582b7;
  color: #ffe5f1;
}

.search-form {
	/* width:70%; */
}
/* Harris calendar styles */
/* General styles ------------------------------------------------------- */

.olc-formTable {
  margin-top: 0;
}
.olc-formTitle {
    font-weight: 900;
     font-size:1.2em;
}
form tr { border: none; }
form table.olc-formTable {
 /*   color: #567; */
    font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}
    .olc-formButton {
/*      position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 6px 12px;*/
    }
    .olc-formButton:hover { background: #000; color: #fff; }
.page-profile .main-content form,
.page-search .main-content form,
.page-calendar-view-list .olc-formTable {
    padding: 10px; 
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(50, 50, 60, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(50, 60, 50, 0.25);
    box-shadow: inset 0 1px 2px rgba(50, 50, 60, 0.25);
    background: #F4F8FD;
}

.page-calendar-view-list .olc-formTable {
    color:#567;
    display:block;
    margin-top:1em;
    padding-bottom:1.5em;
    width:97%;
}

.page-calendar-view-list .olc-formTable td {
    position:static;
}

.page-calendar-view-list .olc-formTable .olc-formButton {
    position:absolute;
    right:3em;
}

.page-search-results form,
form[name="olc_onlinegiving"],
form[name="showCalForm"],
form[name="showEvtsForm"],
form[name="showCalendarNonEventForm"],
form[name="showCommentsNavForm"],
form[name="showUserPrefs"],
form[name="showCommentsForm"],
form[name="showRequestedCommentsForm"],
form[name="showAppCommentsForm"]
{
    padding: 0;
    margin: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
form td {
    padding: .3em;
    position: relative;
    /* margin-left: 4px; */
}
#olc-Content,
#olc-Content > tbody > tr > td,
#olc-Content > tbody > tr > td > table {
  margin: 0;
}
#olc-Content h1 {
  font-size: 20px;
}
#olc-Content tr {
  /* Remove the default table cell styling from the calendar */

  background: none;
}
.page-search font[face="verdana,arial"] {
/*  display:none; */
}
.page-search form td {
    vertical-align:top;
    display:block;
}
.page-search-results form td {
    display:table-cell;
}
.page-search form td b {
    
}
.page-search-results form td img, .page-search-results form td a {
    float: left;
     margin-right:1%;
}
.page-search-results .note-directory-search {
    font-size:.9em;
}
.page-search-results .name-as-student {
    color:#888;
    display:block;
    margin-right:1%;
    float:left;
    font-size:1em;
    font-family:proxima-nova, sans-serif;
}
.page-search-results td[nowrap] {
    vertical-align:top;
}
.page-search-results td[nowrap] img {
    margin-top:2px;
}
.page-search-results form > p {
    text-align:right;
    font-size:.9em;
}
.page-search-results tr[bgcolor="#EEEEEE"] {
    font-size:.9em;
}
.page-search-results form tr:nth-child(2n+1) {
    background: #e0e6f0;
}
#calMonth .monthLabel {
  padding: 0;
  text-align: center;
}
#smCal .monthName {
  padding: 0;
  text-align: center;
}
.dayboxTop tr {
  /* This is affected by the same style targeting the month row */

  border: none;
}
/* "Calendar View" view switcher styles ..................................*/
#olc-menu1 {
  margin: 0;
  margin-top: 0 !important; /* !important is necessary because #olc-menu1 has a margin-top of 20px applied inline */
  padding: 0;
  font-size: 11px;
  font-family: Lucida, Verdana;
  border-top: 1px dashed #ddd;
}
#olc-menu1 td {
  text-align: left;
  color: #bbb;
}
#olc-menu1 td a {
  padding: 4px;
  margin: 0;
}
#olc-menu1 td a:hover {
  padding: 4px;
  margin: 0;
  background: #eee;
}
#olc-menu1 td a strong {
  font-weight: normal;
}
#olc-menu1 .pipe { display: none }
.nav-calendar h4 {
    margin: 2px 0 0 0;
    float: left;
    font-weight: normal;
    font-size: 11px;
    color: #888;
}
.nav-calendar ul { float: left; margin: 0; }
.nav-calendar li {
    display: inline;
}
.nav-calendar li a { display: inline }
.nav-calendar-current {
    background: #e9f4fc;
    color: #000;
}
table#olc-Content td.date-previous,
table#olc-Content td.date-next {
    padding: 4px;
}

/* end view switcher */
/* CALENDAR - YEAR VIEW ------------------------------------------------ */
/* mini-calendars ...................................................... */
#calMain {
  border-top: 1px dashed #ddd;
}
td.calYearBG table#smCal {
  border: 1px solid #2587d4;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 18px;
}
td.calYearBG table#boxes {
  margin: 0;
}
td.calYearBG table#boxes tbody tr td {
  padding: 0;
}
td.calYearBG table#smCal > tr {
  border-bottom: 1px solid #ddd;
}
td.calYearBG table#smCal > tbody > tr > td {
  margin: 0;
  padding: 0;
}
td.calYearBG table#smCal td.monthName {
  background: #2587d4;
  padding: 4px;
}
td.calYearBG table#smCal td.monthName a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
td.calYearBG td.smallday,
td.calYearBG td.smalldayInactive {
  padding: 6px !important;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
}
td.calYearBG td.smallday:hover,
td.calYearBG td.smalldayInactive:hover,
td.calYearBG td.smallday:hover a,
td.calYearBG td.smalldayInactive:hover a,
td.calYearBG td.smallday:hover a strong {
  /*
  background: #2587d4;
  color: #fff;
  */

}
td.calYearBG td.smalldayInactive a {
  color: #ccc;
}
td.calYearBG td.smallday a strong {
  color: #f40;
}
#olc-Content td.calYearBG td.smalldayCurrent {
  background: #2587d4;
  color: #fff;
}
td.calYearBG td.smalldayCurrent a {
  color: #fff;
  font-weight: bold;
}
/* End Year View */
/* CALENDAR - MONTH VIEW ------------------------------------------------ */
/* Main calendar ......................................................... *//* These get rid of a lot of extra space */
table#calMonth tr.dayNumbers table.dayboxTop .activedayCurrent,
table#calMonth tr.dayNumbers table.dayboxTop .activedayCurrent {
  background: #e4f0fa !important;
  border-bottom: none;
}
table#calMonth tr.dayNumbers table.dayboxTop .activedayCurrent strong {
  color: #000000;
}
table#calMonth td.currentDay {
  border-top: none;
}
table#calMonth {
  margin: 0;
}
table#calMonth tbody>tr>td {
  padding: 0;
}
table#calMonth tbody tr td table {
  margin: 0;
  padding: 0;
}
#calMain {
  margin: 0;
}
#calMain > tbody > tr > td > table {
  margin: 0;
}
/* Month nav: the past, current, and upcoming months ...........................*/
table#calMonth tbody tbody > tr td {
  background: #2587d4;
  margin: 0;
  border: none;
  border-bottom: 1px dotted #fff;
}
table#calMonth td.monthName,
table#calMonth td.monthName a {
  color: #fff;
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
}
table#calMonth td.monthName a {
  font-size: 11px;
}
table#calMonth span.monthLabel {
  font-weight: 700;
  font-family: proxima-nova;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* End month nav */
/* Main calendar inner area: the grid of cells and the week bar ................*/
/* Styles for the day-name bar */
td.dayLabel {
  padding: 4px !important;
  background: #2587d4;
  font-weight: normal;
  font-size: 11px;
  color: #fff;
  border: 1px solid #2587d4;
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
}
/* end day-name bar */
/* Styles for the day cells */
table#calMonth tr.dayNumbers .activeday {
  padding-top: 10px;
}
tr.dayNumbers a.day {
  padding: 10px;
}
#calMonth td {
  /* Changes the border on each cell */

  border: 1px solid #2587d4;
}
#calMonth td.activeday,
#calMonth td.inactiveday {
  border-bottom: none;
}
table#calMonth td.otherDay {
  border-top: 0;
}
#calMonth td a strong {
  font-weight: normal;
}
td.otherDay a, .otherDay .smalltext {
  font-size: 11px;
  font-family: Lucida Grande, Verdana, sans-serif;
  }
    td.otherDay a strong,
    .otherDay .smalltext {
        display: block;
      line-height: 14px;
        margin: 0 0 0 4px;
    }
.otherDay .smalltext {
    margin-top: -14px;
}
table#calMonth.weekCal .otherDay {
    padding: 0 8px;
}
.otherDay a b {
    line-height: 18px;
    display: block;
}
.fbFixedDateTimes {
    color: #888
}
td.activeDay a {
  padding: 4px;
  background: #f00 !important;
  border-bottom: none !important;
}
/* end day cells */
/* END MONTH VIEW */
/* CALENDAR - DAY VIEW -------------------------------------------------- */
/* Day name, day-by-day nav ............................................. */
table#calMonth > table {
  border: 10px solid #f00 !important;
}
table#calMonth td.monthName:first-child {
  border: none;
}
/*table#calMonth .monthName .monthLabel {
}*/

table#calMonth tbody tr td table tbody tr td[colspan="3"] span.monthLabel { border-bottom: 1px dashed #fff } /* Yes, the fact that one of the tds has a colspan of 3 is indeed the only way I can see to target this specific element. */

table#calMonth .monthLabel {
  display: block;
  padding-bottom: 6px;
  padding-top: 6px;
}
/* Hours and half-hours ................................................. */
table#dayTime td.timeLabel-a {
  font-family: Lucida Grande, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
table#calMonth {
  -webkit-box-shadow: 0px 2px 8px #ccc;
  -moz-box-shadow: 0px 2px 8px #ccc;
  box-shadow: 0px 2px 8px #ccc;
}
table#dayTime {
  -webkit-box-shadow: 0px 2px 8px #888;
  -moz-box-shadow: 0px 2px 8px #888;
  box-shadow: 0px 2px 8px #888;
  margin-bottom: 20px !important;
}
table#dayTime > tbody > tr:nth-child(2n) {
  background: #edf6f8;
}
table#dayTime > tbody > tr > td:nth-child(2n+1) {
  border-right: 1px dashed #acced7;
}
table#dayTime span.light {
  font-size: 11px;
  color: #888;
}
/* END DAY VIEW */
/* CALENDAR - EVENT VIEW ------------------------------------------------ */
table.formSection { margin: 0 }
    table.formSection td {
        /* padding: 4px 0; */
    }
table#intro.formSection > tbody > tr > td,
table.fb-formTable > tbody > tr > td {
  padding: 0;
}
table.fb-formTable {
  margin: 0;
}
/* CALENDAR - EVENT VIEW ------------------------------------------------ */
/* Form sections ........................................................ */
table.formSection tr td:nth-child(2n) {
  width: 400px;
}

/* table.formSection tr:nth-child(2n) { background: #eee !important } */


/* end form sections */
/* END EVENT VIEW */
/* end main calendar area */
#olc-Content h1 {
  font-family: adelle;
  font-weight: 400;
}
.main-content {
/*  background: #fff; */
}
/* Individual event view */
table#smCal table.boxDetails {
  margin: 0;
  border: none;
/*  background: #f0f; */
}
.fb-formTable tbody>tr:last-child>td {
	padding-bottom: 2em;
}
.sectionHeader {
    font-weight: 500;
    font-family: "adelle";
    font-size: 1.2rem;
	padding-top: 1em;
	border-top: 1px solid #eee;	
}
    .profile-nav li {
        width:7em;
        margin-right:0;
		
		/*RMS*/
		width:30%;
    }
    .profile-nav li:first-child {
        width:8em;
		
		/*RMS*/
		width:30%;
    }
#btnFindRecord,#btnRegAcct {
      float:none;
      padding:.5em .75em;
  }
.page-register-step-2 td label, .page-register #regTable td label {
    text-align:right;
}
.page-register-step-2 #rra_tac {
    float:left;
}
.page-register-step-2 td label[for="rra_tac"] {
    text-align:left;
    float:left;
}
.page-register-step-2 .olc-formTitle {
    white-space:normal!important;
}
.page-register #regTable tr:nth-of-type(2) .withTip2:first-child {
    line-height:0;
}
.page-register .panelLink {
    font-size:.9em;
    /*float:left;*/
    line-height:1;
    display:block;
}
.page-register .withTip {
    vertical-align:top;
}
.page-register #regTable td.withTip2:last-child {
    /*
    position:absolute;
    top:.5em;
    right:70%;
    */
    font-size:.8em;
}
.page-register #morepanel-2 .pointerthing {
    display:none;
    float:left;
    margin-right:.25em;
}
.page-register #regTable #panel-2 p {
    font-size:1em;
    padding:5%;
}
.page-register .instructions div:last-child {
    font-size:.8em;
}
.page-register .specialAttention img {
    float:left;
    margin-right:.5em;
    margin-top:1px;
    margin-bottom:1em;
}
.page-register .specialAttention p {
    padding:.5em 2%;
    font-size:1.1em;
}
.page-register-step-2 .statusFound img {
    float:left;
    margin-right:.5em;
    margin-top:2px;
    margin-bottom:1em;
}
.page-register-step-2 .panel {
    padding:1.5em 5%;
    font-size:1em;
}
.page-register-step-2 .panel p {
    font-size:1em;
}
.page-register-step-2 .panelLink img {
    float:left;
    margin-right:.25em;
    margin-top:2px;
}
.page-register-step-2 .panelLink {
    font-size:.9em;
    float:left;
}
.connect-login .olc-formButton {
    float:none;
}

.page-registration-help label,
.page-forgot label,
.connect-login label,
.page-manage-account label {
    margin-right:1em;
}

.page-registration-help form td,
.page-forgot form td,
.connect-login form td,
.page-manage-account form td {
    display:block;
    width:97%;
}

.page-registration-help input[type="text"],
    .page-forgot input[type="text"],
    .connect-login input[type="text"],
    .page-manage-account input[type="text"],
    .page-registration-help input[type="password"],
    .page-forgot input[type="password"],
    .connect-login input[type="password"],
    .page-manage-account input[type="password"]  {
    width:97% !important;
}
.page-manage-account label {
    font: bold 100%/1.4 proxima-nova, sans-serif;
}
.page-registration-help .special1 {
    text-align:left;
}
.page-registration-help #regHelpForm .separator {
    border:none;
}
#regHelpForm label.special1 {
    width:auto !important;
}
.page-registration-help li>label {
    width:auto !important;
}

@media only screen and (min-width: 600px) {
    
	/*RMS*/
	
	.search-form {
		width:auto;
	}
	.page-profile .content-body {
		margin: 2em 1% 2em 2%;
	}
	
	/*RMS*/
	.main-content {
		margin-left:auto;
		margin-right:auto;
		width:94%;
	}
	
    .page-registration-help label,
    .page-forgot label,
    .connect-login label,
    .page-manage-account label {
        text-align:right;
    }
    
    .page-registration-help input[type="text"],
    .page-forgot input[type="text"],
    .connect-login input[type="text"],
    .page-manage-account input[type="text"],
    .page-registration-help input[type="password"],
    .page-forgot input[type="password"],
    .connect-login input[type="password"],
    .page-manage-account input[type="password"]  {
        width:auto !important;
    }
    
    .page-registration-help li>input[type="text"],
    .page-registration-help li>input[type="password"] {
        width:97% !important;
    }
    
    .page-registration-help form td,
    .page-forgot form td,
    .connect-login form td,
    .page-manage-account form td {
        display:table-cell;
        width:auto !important;
    }
    
}
@media only screen and (min-width: 750px) {
    
    .page-registration-help li>input[type="text"],
    .page-registration-help li>input[type="password"] {
        width:auto !important;
    }
    
    .page-registration-help li>label {
        width:180px !important;
    }
    
    .page-search form td {
        display:table-cell;
    }
    .page-search form td b {
        text-align:right;
        
    }
     .page-profile .figure {
        width:200px;
    }   
    .page-profile .profile-portrait {
        width:auto;
    }
    .page-profile .figure {
        float:left;
      margin: 0 2em 1em 2em;
    }

    .profile-nav li,.profile-nav li:first-child {
        width:auto;
    }
    .profile-nav {
        margin-top:-3.25em;
    }
    .page-profile a.button-help {
        top: -5em;
    }
    body.page-profile .profile-container {
        margin-top:0;
        border-left: 1px dashed #ccc;
    }
     input[type="text"] {
         width:auto;
     }
     li>select {
        width:auto;
    }
}
@media only screen and (min-width: 960px) {
    
    
 .page-profile .content-body {
        width: 65%;
    }
}
@media only screen and (min-width: 1200px) {
    select {
        width:auto;
    }
}

.wf-active, .wf-inactive, .wf-error {
    visibility:visible;
}

/*	The following ungodly hacks are fixes for the checkbox issue on My Profile > Privacy.
	The checkboxes don't align correctly with the labels at smaller screen sizes. Problem: the
	table cell they're in becomes too narrow to accommodate both on the same line.
*/

form[name="hiddenprefs"] tr[bgcolor="#FFFFFF"]>td[align="right"],
form[name="hiddenprefs"] tr[bgcolor="#FFFFFF"]>td[align="right"] {
	min-width: 60px;
	max-width: 60px;
}
	form[name="hiddenprefs"] tr[bgcolor="#FFFFFF"]>td[align="right"] input[type="checkbox"] {
		float: right;
	}
	
/* Makes row content align with the row title. */

form[name="hiddenprefs"] tr[bgcolor="#FFFFFF"]>td:first-child {
	vertical-align: middle;
}
