/*
 *********** TYPOGRAPHY **********/
 */
 .navigation a {
  font: 300 1.1em/1 adelle, serif;
}
/********** LAYOUT **********/
@media screen {
  .banners {
    margin-top: 1.5em;
    width: 100%;
  }
  .banners a {
    border-bottom: 0;
  }
  .banners li {
    margin-bottom: 4%;
  }
  .banners ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .main-content {
    padding-top: 0;
    background: none;
    /* Chris */
  
    border: none;
    /* Chris */
  
    box-shadow: none;
    /* Chris */
  
    -webkit-box-shadow: none;
    /* Chris */
  
    -moz-box-shadow: none;
    /* Chris */
  
  }
  .content-container:before {
    border: 0;
    background: 0;
    z-index: -1;
  }
  .main-content {
    overflow: hidden;
  }
  .nav .navigation {
    padding-bottom: 0;
  }
  .navigation {
    /*  float:none; */
  
  }
  .navigation li a:hover,
  .navigation li a.opened,
  .navigation ul.sub-menu li a:hover {
    border-right: 0;
  }
}
@media only screen and (min-width: 400px) {
  .banners li {
    width: 48%;
    margin-left: 0;
    margin-bottom: 5%;
    float: left;
  }
}
@media only screen and (min-width: 450px) {
  .banners li {
    width: 48%;
  }
}
@media only screen and (min-width: 520px) {
  .banners {
    /*     float: left; */
  
  }
  .banners li {
    width: 48%;
  }
  .header {
    border-bottom: 1px dashed #53acb7;
    /* Spring seasonal - Chris */
  
    padding-top: 4.1em;
  }
  .content-container {
    /* background: transparent url(../images/css/winter-side-border.gif) left 0 repeat-y; */
    float: none;
    margin: 4.5em auto 0 auto;
    max-width: 1400px;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 0;
  }
  .nav {
    top: .5em;
    position: absolute;
    left: 0;
    padding-top: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
     width:100%;
  }
  .navigation {
    width: 100%;
    /*    margin-top: 0; 
              margin-left: -0.5%;
             */
  
    padding-top: 2em;
    padding-left: 0;
    margin: 0 auto;
    /*    position: absolute; */
  
  }
  .navigation li {
    float: left;
    display: inline;
  }
  .navigation a {
    padding: .4em .5em .25em;
  }
  .button-directory {
    margin-bottom: .25em;
  }
  .login-hover {
    float: none;
  }
}
@media only screen and (min-width: 600px) {
  .content-container {
    background: none;
  }
/*  .navigation {
    width: 70%;
  }
*/
}
@media only screen and (min-width: 680px) {
  .banners li {
    width: 24%;
  }
  .button-directory {
    margin-bottom: 0;
  }
  .login-hover {
    float: right;
  }
}
@media only screen and (min-width: 825px) {
  .navigation a {
    font-size: 1.3em;
  }
}
