#tabs-content {
    padding-top:5%;
}

#username,
#password,
input[type="text"].username,
input[type="password"].password {
	width:93% !important;
}

.fb_iframe_widget {
	margin:0 1% 0 5%;
}

.forgot-password {
	display:inline-block;
	margin:0;
	padding:0 5%;
}

.js .tabs-widget {
	visibility:hidden;
}

.js .ui-tabs {
	visibility:visible;
}

.login-form {
	padding:0 5% 1em 5%;
}
		
.login-hover:hover .button-login,
.login-hover:focus .button-login {
	background-color:#000 !important;
}

.login-panel {
	border-top:0;
	font-size:.9em;
	margin-right: -2.25%;
	margin-left: -2.25%;
	padding:0;
	width:auto;
}

.login-panel--static {
	border:none;
	box-shadow:none;
	margin: 1em 0 0;
	position:static;
	top:0;	
}

	.login-panel img {
		margin: 0 auto;
	}
	
	.login-panel input.button {
		width:auto;
	}

	.login-panel .button-login-submit {
		display:block;
		float:none;
		margin-top:1em;
	}
	
	.login-panel .hr {
		margin: 2em 5%;
	}

	.login-panel .new-user {
		font-size:.9em;
	}
	
		.login-panel .new-user a  {
			color:#2489CA;
			padding: 1em 2.5%;
		}

.home .login-panel .new-user {
	font-size:.95em;
}

.loginGetAnAccount {
	white-space:nowrap;
}

.tabs-widget {
	float:none;
	margin:0;
	padding:0;
	width: auto;
}

.ui-corner-all {
	border-radius:0;
}

.ui-tabs .ui-tabs-panel {
	padding:0;
}

.ui-tabs-nav,
.login-form {
	font-size:.8em;
}

.ui-widget {
	font-size:1em;
}

.ui-widget-content a {
	color:#5bafe4;
}

.ui-widget-header {
	border:0;
}

@media only screen and (min-width: 520px) {
	.login-panel--static #username,
	.login-panel--static #password,
	.login-panel--static input[type="text"].username,
	.login-panel--static input[type="password"].password {
		width:40% !important;
		display:block;
	}
}