/*    CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* tint($linkColorVisited, 50%) or shade($linkColorVisited, 50%) can be used to lighten or darken hue */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* LATEST Modules basic */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Search
	------ */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/* $MenuBtnColor--activated: #000; */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
/* Don't modify these */
/*
	http://alums.vassar.edu/news_v2/media/2015-2016/151028-bill-giffords-memorial.html

	font: italic bold 12px/30px Georgia, serif

*/
/*	CONFIG VARIABLES
	================ */
/*	Breadcrumbs
	----------- */
/*	News frontpage
	-------------- */
/*	BREADCRUMBS
	=========== */
.u-BreadCrumbs__item {
  font: 0.9em "proxima-nova"; }

/* LAYOUT */
@media screen {
  .u-BreadCrumbs {
    clear: both;
    display: inline-block;
    margin-bottom: 1.25em;
    padding-bottom: .25em; }

  .u-BreadCrumbs__item {
    padding: 0 .75em 0 1.25em;
    position: relative; }

  .u-BreadCrumbs__item:before {
    background: transparent;
    border: 5px solid transparent;
    border-width: 5px 8px;
    border-left-color: #ccc;
    content: "";
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%; }

  .u-BreadCrumbs__item:first-child:before {
    content: none; }

  .u-BreadCrumbs__item:first-child {
    margin: 0;
    padding-left: 0; } }
/* COLOR */
.u-BreadCrumbs__item {
  border: none;
  color: #000; }

.u-BreadCrumbs__item:visited {
  color: #000; }

.u-BreadCrumbs__item:focus {
  color: #8fa700; }

.u-BreadCrumbs__item:hover {
  color: #8fa700; }

.u-BreadCrumbs__item:active {
  color: #8fa700; }

/*	NEWS
	==== */
.u-ArticleListItem__title {
  font: 1.2em adelle, serif normal; }

.u-ArticleListItem__summary {
  font: 0.9em "proxima-nova"; }

.u-ArticleListItem__label--type,
.u-ArticleListItem__label--externalLink {
  font: bold 0.8em "proxima-nova"; }

.u-ArticleListItem__label--dateline__posted {
  font: 0.8em "proxima-nova"; }

.u-ArticleListItem__label--dateline__postedDate {
  font: 0.8em "proxima-nova"; }

.u-ArticleNavGroup__navButton {
  font-weight: 700;
  font-size: .85em;
  text-align: center; }

.u-ArticleList__systemMessage {
  font: 1em "proxima-nova"; }

/* LAYOUT */
@media screen {
  .icon_rss_link {
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0; }

  .u-ArticleListItem__title {
    display: block;
    margin-bottom: 1.5%;
    margin-top: 0; }

  .u-ArticleListItem {
    margin-bottom: 1em;
    clear: both;
    overflow: hidden; }

  .u-ArticleListItem__thumbnail {
    float: left;
    margin: 0 2.5% 2.5% 0; }

  .u-ArticleNavGroup {
    padding: 5% 0;
    width: 100%;
    /* clear: both; use only when styling all 3 rows of news nav buttons using the starter flattened content. */ }

  .u-ArticleNavGroup__navButton {
    float: left;
    display: block;
    padding: .3em .5em;
    margin: 0 2% 0 0;
    width: 23%; }

  .u-ArticleNavGroup__navButton--more {
    width: 75%; }

  .u-ArticleNavGroup__navButton--next:after {
    content: "\2192";
    margin-left: 0.3em; }

  .u-ArticleNavGroup__navButton--prev:before {
    content: "\2190";
    margin-right: .3em; }

  .u-ArticleNavGroup__navButton--archive {
    width: 23%;
    margin-right: 0;
    float: right; }

  .u-ArticleListItem__label--type {
    display: none; } }
/* COLOR */
/* u-NewsTools in sidebar this class was previously in news-base.css */
.icon_rss_link {
  background: url(http://collegerelations.vassar.edu/centralincludes/css/icons/main_icons/rss_large.gif) no-repeat;
  border: none; }

/* this class should be removed from the u-NewsTools sidebar markup and replaced with .icon-mail which is already centralized */
.icon-envelope:before {
  /* content: "\45\6d\61\69\6c"; */
  content: ""; }

/*
$u-ArticleListItem__title--linkColor: #000;
$u-ArticleListItem__title--linkColorVisited: #000;
$u-ArticleListItem__title--linkColorHoverFocus: #8fa700;
$u-ArticleListItem__title--linkColorActive: #8fa700;
*/
.u-ArticleListItem__link {
  color: #000; }

.u-ArticleListItem__link:visited {
  color: #444; }

.u-ArticleListItem__link:hover {
  color: #8fa700; }

.u-ArticleListItem__link:active {
  color: #8fa700; }

/*

I've commented these out because I think having different parts of a news item
highlight individually is awkward. I'd rather set one hover color for an entire
item.

.u-ArticleListItem__title {
	color: $u-ArticleListItem__title--linkColor;
}
.u-ArticleListItem__title:visited {
	color: $u-ArticleListItem__title--linkColorVisited;
}
.u-ArticleListItem__title:hover {
	color: $u-ArticleListItem__title--linkColorHoverFocus;
}
.u-ArticleListItem__title:active {
	color: $u-ArticleListItem__title--linkColorActive;
}

$u-ArticleListItem__summary--color: #333;
$u-ArticleListItem__summary--colorHoverFocus: #8fa700;
$u-ArticleListItem__summary--colorActive: #8fa700;

.u-ArticleListItem__summary {
	color: $u-ArticleListItem__summary--color;
}
.u-ArticleListItem__summary:hover {
	color: $u-ArticleListItem__summary--colorHoverFocus;
}
.u-ArticleListItem__summary:active {
	color: $u-ArticleListItem__summary--colorActive;
}
.u-ArticleListItem__link .u-ArticleListItem__label--externalLink,
.u-ArticleListItem__link:link .u-ArticleListItem__label--externalLink {
	color: $linkColor;
}
.u-ArticleListItem__link:visited .u-ArticleListItem__label--externalLink {
	color: $linkColorVisited;
}
.u-ArticleListItem__link:hover .u-ArticleListItem__label--externalLink,
.u-ArticleListItem__link:focus .u-ArticleListItem__label--externalLink {
	color: $linkColorHoverFocus;
}
.u-ArticleListItem__link:active .u-ArticleListItem__label--externalLink {
	color: $linkColorActive;
}
.u-ArticleListItem__label--externalLink {
	color: $linkColor;
}
.u-ArticleListItem__label--externalLink:visited {
	color: $linkColorVisited;
}
.u-ArticleListItem__label--externalLink:focus {
	color: $linkColorHoverFocus;
}
.u-ArticleListItem__label--externalLink:hover {
	color: $linkColorHoverFocus;
}
.u-ArticleListItem__label--externalLink:active {
	color: $linkColorActive;
}

*/
.u-ArticleListItem__link,
.u-ArticleListItem__label a {
  border-bottom: none; }

.u-ArticleNavGroup__navButton {
  border: none;
  background: #8fa700;
  color: #fff; }

.u-ArticleNavGroup__navButton--more,
.u-ArticleNavGroup__navButton--archive {
  box-sizing: border-box; }

.u-ArticleNavGroup__navButton:visited {
  background: #ccc; }

.u-ArticleNavGroup__navButton:focus {
  background: #6B7D00; }

.u-ArticleNavGroup__navButton:hover {
  background: #6B7D00; }

.u-ArticleNavGroup__navButton:active {
  background: #6B7D00; }

.u-ArticleNavGroup__navButton:visited {
  color: #fff; }

.u-ArticleNavGroup__navButton:focus {
  color: #fff; }

.u-ArticleNavGroup__navButton:hover {
  color: #fff; }

.u-ArticleNavGroup__navButton:active {
  color: #fff; }

.u-ArticleNavGroup__navButton--archive {
  background: #6B7D00;
  color: #fff; }

.u-ArticleNavGroup__navButton--archive:visited {
  background: #000; }

.u-ArticleNavGroup__navButton--archive:focus {
  background: #000; }

.u-ArticleNavGroup__navButton--archive:hover {
  background: #000; }

.u-ArticleNavGroup__navButton--archive:active {
  background: #000; }

.u-ArticleNavGroup__navButton--archive:visited {
  color: #fff; }

.u-ArticleNavGroup__navButton--archive:focus {
  color: #fff; }

.u-ArticleNavGroup__navButton--archive:hover {
  color: #fff; }

.u-ArticleNavGroup__navButton--archive:active {
  color: #fff; }

.u-ArticleList__systemMessage {
  color: #aaa; }

.figure.u-ArticleListItem__thumbnail {
  margin-right: 1em;
  margin-top: 0; }

/*    FIGURES
	------- */
.figure, .u-Figure {
  margin: 5px 0;
  display: block; }

.figure img, .u-Figure__image {
  width: 100%;
  height: auto !important; }

.figure figure, .u-Figure figure {
  margin: 0;
  line-height: 0; }

.figure .figcaption, .u-Figure .u-Figure__caption {
  margin: 0;
  line-height: normal; }

.figure-left, .u-Figure--left {
  float: left;
  clear: left;
  margin-right: 10px; }

.figure-right, .u-Figure--right {
  float: right;
  clear: right;
  margin-left: 10px; }

.figure.figure-center, .u-Figure--center {
  width: 100%; }

.figure.figure-three-quarters, .u-Figure--threeQuarters {
  width: 75%; }

.figure.figure-half, .u-Figure--half {
  width: 50%; }

.figure.figure-third, .u-Figure--third {
  width: 33%; }

.figure.figure-quarter, .u-Figure--quarter {
  width: 25%; }

.figure-left,
.u-Figure--left {
  clear: left; }

.figure-right,
.u-Figure--right {
  clear: right; }

/*	Sidebar figure
	-------------- */
.u-lAside .u-Galleria__caption {
  font-size: .9em;
  line-height: 1.2;
  display: block;
  margin-top: .25em; }
.u-lAside .u-Figure__caption--link {
  display: block;
  line-height: 1;
  font-size: .85em; }
/*    Custom Audio Link Style
	-------------- */
  .audio-link {
    position: relative;
    padding-left: 1.4em;
}
.audio-link:before { 
    content: "";
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    border: .5em solid transparent;
    border-left: 1em solid #f00;
}
.audio-link:hover:before { 
    border-left-color: #000;
}
