.feature-blurb h3.feature-series-title {
    display:inline;
    font-family:proxima-nova;
    font-size:14px;
    font-weight:700;
    letter-spacing:1px;
    line-height:0;
    text-transform:uppercase
}
.feature-blurb .figure img { width: auto }
.feature-blurb p {
    line-height:16px
}
.feature-blurb p em {
    font-family:Lucida Grande;
    font-size:12px;
    font-style:normal
}
  .figure img {
      padding:0;
      margin:0;
      float:none;
  }

#breadcrumbs {
    font-size:14px
}
#breadcrumbs p a {
    font-weight:700
}
h2 {
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase
}
.main-content h3 {
    font-size:1.4em;
    font-weight:300;
    margin: .5em 0 0.5em 0;
}
p.feature-first-para {
/*    font-family:adelle, serif;*/
    font-size:18px;
    line-height:26px
}
.figure {
    margin-top:0;
    margin-bottom:2%;
}
.figure-left {
    float:left;
    clear:left;
    margin-right:20px;
}
.figure-right {
    float:right;
    clear:right;
    margin-left:20px;
}
.figure-center {
    width:100%;
}
.figure-three-quarters{
    width:75%;
}
.figure-half {
    width:50%;
}
.figure-third{
    width:33%;
}
.figure-quarter {
    width:25%;
}
.feature-blurb {
    position:relative;
    border-bottom:1px solid #ddd;
    padding:10px 0 0 170px;
    min-height:80px
}
.feature-blurb h3.feature-series-title {
    float:left;
    margin:9px 9px 0 0;
    padding:0
}
.feature-blurb img {
    border:0;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    position:absolute
}
.feature-title { font-weight: 300 }
#breadcrumbs {
    margin-top:-2px
}
h2 {
    margin-top:-20px
}
.main-content h3 {
    padding-bottom:10px;
    border-bottom:1px solid #2daebd;
    border-bottom:1px solid #ccc
}
#release-side img {
    margin:0;
    margin-bottom:4px
}
.sidebar-tools {
    padding:0
}
.feature-blurb h3.feature-series-title {
    border:0;
    color:#491300
}
.feature-blurb p em {
    color:#786855
}
#breadcrumbs {
    border-bottom:1px dashed #aaa
}
p.feature-first-para, blockquote {
    color:#491300
}
.kare_rss_large {
    	background: url(http://collegerelations.vassar.edu/centralincludes/css/icons/main_icons/rss_large.gif) no-repeat;
		width: 32px;
		height: 32px;
		display: inline-block;
		padding: 0;
		margin: 0;
		line-height: 0;
		border: none !important;
        vertical-align:top;
	}