/* Typography */


body {
    font-family: proxima-nova, sans-serif;
}
html {
  font: 500 100%/1.4 proxima-nova, sans-serif;
    background: #eee;
}
h1 {
    font-family: adelle, serif; 
    font-weight: 500;
    font-size: 24px;
} 
h2,
h3 {
  font-family: adelle, serif;
  font-style: normal;
}
h2 {
  font-size: 1.5em;
  /**/

  font-weight: 400;
}
h3 {
  font-size: 1.1em;
  font-weight: 700;
}
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: .75em;
  letter-spacing: .2em;
  text-transform: uppercase;
}
p {
margin-bottom: 1em;
}
.footer { font-size: 14px }


/* Layout */

a {
  text-decoration: none;
  border-bottom: solid 1px;
  font-weight: 500;
}
h1.home-link {
    margin: -40px 0 40px 0;
}
h1 a { 
    text-decoration: none; 
    border: none; 
}
h2,
h3 {
  font-family: adelle, serif;
  font-style: normal;
}
h2 {
  font-size: 1.5em;
  /**/

  font-weight: 400;
}
h3 {
  font-size: 1.1em;
  font-weight: 700;
}
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: .75em;
  letter-spacing: .2em;
  text-transform: uppercase;
}
input.button {
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    padding: 6px 10px;
    display: inline;
}
#container {
    margin: 20px auto 40px auto;
    max-width: 800px;
}
#content { padding: 60px }
.footer { 
    padding: 10px;
    text-align: center;
}



/* Color */

a {
  background-color: transparent;
  color: #49afc1;
  color: #23a5b9;
}
a:hover,
a:focus,
.meta-nav a:hover,
.meta-nav a:focus {
  color: #0f334d;
}
body {
  color: #000000;
}
h6 {
  color: #888888;
}
input.button {
    background-color: #2489CF;
    border: none;
    color: #F2F2F2;
}
input.button:hover { background: #000 }
#container {
    background-color: #fff;
    background-position: bottom center, top center;
    background-repeat: no-repeat, no-repeat;
    -webkit-box-shadow: 0 2px 8px #bbbbbb;
    -moz-box-shadow: 0 2px 8px #bbbbbb;
    box-shadow: 0 2px 8px #bbbbbb;
}
.footer { 
    background: url("/assets/images/summer/footer-bg.gif");
    color: #986987;
color: #682;
}
.footer a { 
    border: none;
    color: #162f4e;

color: #340;
}
.footer a:hover {
  background: #f2deeb;
  background: rgba(255, 255, 255, 0.4);
  color: #000;
}
.footer-top { 
    background: url("/assets/images/summer/footer-top.png") top center no-repeat; 
    height: 127px;
}