.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.gsc-control-cse,
.gsc-webResult.gsc-result,
.gsc-result-info,
.gsc-resultsHeader {
  margin: 0 !important;
  padding: 0 !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
  text-decoration: none !important;
}

.gsc-result .gs-title {
  /*	margin-bottom: .1em !important; */
  font-size: 1.25em !important;
  font-weight: normal !important;
  height: auto !important;
  overflow: visible;
  line-height: 1.1em;
  border-bottom: none !important;
}

.gsc-control-cse {
  border: none !important;
  margin: 0;
}

.cse .gsc-control-cse,
.gsc-control-cse,
.gsc-results-wrapper-nooverlay table,
.gsc-results-wrapper-nooverlay tr,
.gsc-results-wrapper-nooverlay td {
  background: none !important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
  font-family: "proxima-nova";
  font-weight: 500;
  font-size: 1.2em;
}

.gsc-above-wrapper-area-container {
  font-family: "proxima-nova";
  font-weight: normal;
  margin: 0;
}

.gsc-webResult.gsc-result {
  border: none !important;
  margin-bottom: 2em !important;
}

.gsc-table-result tr {
  background: none;
}

.gsc-table-result tr td {
  border: none;
  padding: 0;
}

.gsc-control-cse .gsc-table-result {
  font-family: "proxima-nova" !important;
  margin: 0 0 2em 0;
  padding: 0;
}

.gs-fileFormat {
  font-family: "proxima-nova";
  font-weight: normal;
}

span.gs-fileFormat,
span.gs-fileFormatType {
  font-size: 1em;
}

.cse .gs-snippet, .gs-snippet, .cse .gs-spelling-original, .gs-spelling-original {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 300;
  color: #444;
}

.gs-snippet b {
  font-weight: bold;
}

.cse .gs-webResult a.gs-visibleUrl, .gs-webResult a.gs-visibleUrl, .cse .gs-webResult .gs-visibleUrl, .gs-webResult .gs-visibleUrl, .gs-imageResult a.gs-visibleUrl, .gs-imageResult .gs-visibleUrl {
  font-family: "proxima-nova";
  font-size: 1em !important;
  font-weight: normal;
}

.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
  background: none;
}

.cse .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link, .cse .gs-webResult.gs-result a.gs-title:link b, .gs-webResult.gs-result a.gs-title:link b, .cse .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited, .cse .gs-webResult.gs-result a.gs-title:visited b, .gs-webResult.gs-result a.gs-title:visited b, .cse .gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active, .cse .gs-webResult.gs-result a.gs-title:active b, .gs-webResult.gs-result a.gs-title:active b, .cse .gs-webResult.gs-result .gsc-cursor-page, .gs-webResult.gs-result .gsc-cursor-page, .cse .gs-webResult.gs-result a.gsc-trailing-more-results:link, .gs-webResult.gs-result a.gsc-trailing-more-results:link, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b, .gs-imageResult .gsc-cursor-page, .gs-imageResult a.gsc-trailing-more-results:link, .cse .gs-spelling a, .gs-spelling a {
  color: #0d79bd !important;
}

.cse .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover, .cse .gs-webResult.gs-result a.gs-title:hover b, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
  color: black !important;
}

.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
  color: #444 !important;
  font-weight: 300 !important;
}

.cse .gs-webResult a.gs-visibleUrl, .gs-webResult a.gs-visibleUrl, .cse .gs-webResult .gs-visibleUrl, .gs-webResult .gs-visibleUrl, .gs-imageResult a.gs-visibleUrl, .gs-imageResult .gs-visibleUrl {
  color: #080;
}

.gsc-tabHeader:first-of-type {
  margin-left: 1em;
}

.gsc-tabHeader {
  margin-left: .5em;
}

.gsc-tabHeader,
.gsc-tabHeader.gsc-tabhActive {
  border-top-color: #aaa;
}

/*
.gsc-selected-option-container {
	background: $buttonBackground !important;
	color: $buttonTextColor !important;
	text-shadow: none !important;
	width: auto !important;
	max-width: none !important;	
	border: $buttonBorder !important;
	box-shadow: $buttonShadow !important;
	-webkit-box-shadow: $buttonShadow !important;
	-moz-box-shadow: $buttonShadow !important;
}
*/
