/* style
*/

a {
    color: #5bafe4;
}

ul.banners {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-bottom: 2%;
    width: 100%;
}

.featured .featured-blog a h3 { 
    color: #680;
}

.featured-blog p,
.talkback a .figure .figcaption { 
    color: #440;
}

    .featured-blog:hover,
    .featured-blog a:hover,
    .featured-blog:hover h3 {
        background: #fffdd8;
    }
    
    .featured-blog:hover p {
        color: #664d00;
    }
    
.footer {
    background-image: url("../images/summer/footer-top.png");
}

    .footer::before {
        background-image: url("../images/summer/footer-bg.gif");
    }
    
.footer,
.footer h3 {
    color: #682;
}

    .footer a { color: #340 }

        .footer a:hover {
            background: #f2ffd3;
            background: rgba(242,255,211,.6);
            color: #340;
        }
        
.hub-tooltip {
    border-color: #fa0;
}

.main-content .features {
/*  background: url("../images/summer/feature-background.jpg") no-repeat; */
}

.meta-nav a {
    /* color: #f40; */
    color: #5a6212;
}
    .meta-nav a:hover,
    .meta-nav a.highlight {
        background: #e8f098;
        border-color: #c8d35f;
        color: #5a6212;     
    }
    
.navigation a {
/*
    color: #00aeff;
    color: #0aa8f2;
    color: #ff7e00;
    color: #ff5400;
    color: #8a3309;
    color: #5e6817;
    */
/*    color: #414909;
    font-weight: 100;*/
}

.navigation li a:hover,
.navigation .sub-menu a:hover {
    /* background: #dee87f; */
    background: #e8f098;
    color: #5a6212; 
}

.navigation .highlight {
  /* (entire selector) Spring-specific - Chris */
    background: #f6e4f0;
    background: rgba(233, 0, 115, 0.1);
    color: #7f1722;
}

.navigation .sub-menu {
/*    background: url(../images/css/alums/winter/side-border.png) repeat-y;*/
    border-left: 1px solid #dae55a;
}

    .navigation .sub-menu a {
        color: #8fa700;
    }
    
.spotlight {
    /*
    background: #680;
    background: #ffdf3f;
    background: #4cb9e2;
    background: #2ad;
/*  background: url("../images/summer/spotlight-bg.jpg") bottom right; */
    background: #6492ca;
}

    .spotlight h4 {
        color: #a3c5ed;
    }

.tabs-old-nav li a { 
    color: #790;
}

    .tabs-old-nav li a:hover {
        background: #e8f098;
        color: #5a6212;
    }
    
.tabs-old-nav li.tabs-old-selected a {
    /* background: #da0; */
    background: #8a0;
    border: none;
    color: #fff;
}

.weather-updated-label,
.weather-updated-data {
    color:#80994d;
}

@media only screen and (min-width: 520px) {

    html {
        /* background texture */
        /* background: #888 url("../images/summer/"); */
        /*
        border-top: 45px solid #244e10;
        border-top: 45px solid #000;
        border-top: 45px solid #7f9e0f;
        */
        border-top: 45px solid #4d6200;
    }
    
    body {
        /* top photobar */
        /*
        background: url("../images/summer/photobar-3.jpg") center top no-repeat;
        background: url("../images/summer/photobar-4.jpg") center top no-repeat;
        */
        background: url("../images/summer/photobar-5.jpg") center top no-repeat;
    }
    
}